<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation') %>

    <main>
        <% if (chgPasswordError) { %>
            <p class="user-message user-message--error"><%= chgPasswordError %></p>
        <% } %>
        <form class="login-form" action="/change-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Change Password</button>
        </form>
    </main>
<%- include('../includes/tail') %>