<%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation') %>

    <main class="centered">
        <H1><%= product.title %></H1>
        <hr>     
        <div class="form-control">
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2>$<%= product.price %></h2>
        <p><%= product.description %></p>
        <% if (isAuthenticated) { %>
            <%- include('../includes/add-to-cart') %>
        <% } %>
    </main>
<%- include('../includes/tail') %>